{erl_opts, [debug_info]}.
{eunit_opts, [verbose]}.
{cover_enabled, true}.
{dialyzer_opts, [{warnings, [unmatched_returns,
                             error_handling,
                             race_conditions,
                             underspecs]}, src]}.
{xref_checks, [undefined_function_calls]}.
